<main class="contenido">
   {{> topbar user=user}}
  <h2>¡Gracias por tu visita!</h2>
  <p>Tu sesión fue cerrada correctamente.</p>

  <a href="/" class="boton-primary">Ir a productos</a>
  <a href="/login" class="boton-secondary">Iniciar sesión</a>
</main>